@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: 'Questrial', sans-serif;
  background: #192655;
}

#particles {
  position: absolute;
  width: 100%;
}

/* Navbar */

#navbar ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 20px;
}

#navbar ul li a{
  padding: 20px 25px;
  margin: 0 10px;
  border-radius: 50px;
}

#navbar ul li a:hover {
  background: #2d46b9;
  box-shadow: 5px 5px 15px 0px #2d46b9;
}

#navbar a {
  color: #fff;
}

#navbar button {
  border: 1px white solid;
  background: white;
  box-shadow: 0px 0px 5px 0px rgb(255 255 255);
}

/* Homepage */

#homepage {
  height: 80vh;
  display: flex;
  align-items: center;
}

#homepage h1,
#homepage p {
  width: 100%;
  text-align: center;
}

#homepage h1 {
  font-size: 60px;
}

#homepage p {
  font-size: 20px;
}

/* Skills */
#skills {
  margin-top: 100px;
  height: 500px;
}

.skills-container {
  color: #fff;
  width: 325px;
  text-align: center;
  border-radius: 50px;
  padding: 50px 30px 30px 30px;
  transition: transform ease 0.5s;
}

.skills-container:hover {
  background: #2d46b9;
  transform: translateY(-10px);
}

.skills-cont {
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  flex-wrap: wrap;
}

.tech-icons {
  text-align: center;
  font-size: 50px;
  margin: 100px 0 0 0;
}

.fa-brands {
  padding: 0 20px;
}

#Skills h4 {
  font-size: 23px;
  padding-bottom: 10px;
  padding-top: 20px;
}

#Skills p {
  font-size: 12px;
}

/* Projects */
#projects {
  margin-top: 200px;
  color: #fff;
  margin-bottom: 100px;
}

#projects .row {
  display: flex;
  justify-content: center;
  width: 100%;
}

#projects .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .pro-title{
  display: flex;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
  flex-direction: column;
}

#projects h3 {
  font-size: 40px;
  text-align: center;
}

#projects hr {
  background: #fff;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  text-align: center;
  /* margin: 0 100px; add when 4 projects */
  transition: transform 0.5s ease;
  border-radius: 6px;
  max-width: 400px;
}

.project:hover {
  transform: translateY(-10px);
}

#projects .proimg{
  height: 200px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#projects p {
  padding: 0 30px;
  margin: 0 0 40px 0;
}

#projects button {
  background: #2d46b9;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 80px;
  color: #fff;
  margin: 20px 10px 20px 10px;
}

#projects button:hover {
  box-shadow:0px 5px 15px #2d46b9;
}

#projects .fa-brands {
  font-size: 25px;
}

.project-cont {
  margin: 0 -200px;
}

#projects a {
  text-decoration: none;
  color: #fff;
}

.c {
  height: 30px;
  width: 30px;
}

/* Contact */
#contact {
  height: 500px;
  display: flex;
  align-items: center;
}

#contact .col{
  display: flex;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
  flex-direction: column;
}

#contact h3 {
  font-size: 40px;
}

#contact p {
  font-size: 17px;
}

#contact button {
  color: #fff;
  background: #2d46b9;
  text-align: center;
  border-radius: 50px;
  padding: 20px 50px;
  transition: transform ease 0.5s;
  margin-top: 25px;
  margin: 25px 10px 0 10px;
  width: 200px;
}

#contact button:hover {
  background: #2d46b9;
  transform: translateY(-10px);
}

#contact hr {
  background: #fff;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 25px;
}

#contact a {
  color: #fff;
}

#contact a:hover {
  text-decoration: none;
}

/* Footer */
#footer {
  z-index: 1000000000;
}

#footer .row {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin-top: 20px;
}

#Footer p {
  color: #fff;
}

#footer .fa-brands {
  font-size: 40px;
  padding: 0 20px;
  cursor: pointer;
}

/* Particles */

#particles {
  pointer-events: none; /* Add this property to prevent the particles container from capturing click events */
  position: fixed; /* Make sure the particles container stays fixed in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a negative z-index to keep the particles behind other elements */
}

/* Responsiveness */

@media screen and (max-width: 991px) {
  #projects {
    margin-top: 500px;
  }
}

@media screen and (max-width: 1550px) {
  .project-cont {
    margin: 0 -100px;
  }
}

@media screen and (max-width: 1180px) {
  .project-cont {
    margin: 0 0;
  }
}

@media screen and (max-width: 767px) {
  .project-cont {
    margin: 0 0;
  }
}

@media screen and (max-width: 477px) {
  .copyright {
    margin: auto;
  }

  .social-icons {
    margin: auto;
  }
}

@media screen and (max-width: 434px) {
  #contact button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
  }
}

