#Contact {
    margin-top: 150px;
}

.contact-container {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.right-contact {
    display: flex;
    margin-left: 100px;
}
.right-contact input,
.right-contact button {
    background: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 30px;
}

.right-contact input {
    margin-bottom: 20px;
    padding-right: 100px;
    text-align: left;
}

.right-contact textarea{
    padding: 20px 96px 20px 30px;
    color: #fff;
    background: none;
    border-radius: 6px;
    text-align: left;
}

@media (max-width: 630px) {
    .right-contact {
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
    }
    .left-contact {
        text-align: center;
    }
}

