#Projects {
    margin-top: 200px;
    color: #fff;
}

#Projects h3 {
    text-align: center;
}

#Projects img{
    height: 200px;
    width: 350px;
    margin-bottom: 30px;
}

#Projects p {
    padding: 0 25px;
    margin: 0 0 40px 0;
}

#Projects button {
    background: none;
    border: none;
    margin: 20px 20px;
    padding: 20px 30px;
    border-radius: 80px;
    color: #fff;
}

#Projects button:hover {
    background: #2d46b9;
    border: none;
    box-shadow:0px 5px 15px #2d46b9;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.project.project:hover {
    transform: translateY(-10px);
}

.project {
    width: 400px;
    height: 400px;
    margin: 100px 50px;
    transition: transform ease 0.5s;
}