#skills {
    height: 100vh;
}

.skills-container {
    color: #fff;
    width: 425px;
    text-align: center;
    border-radius: 50px;
    padding: 30px;
    transition: transform ease 0.5s;
}

.skills-container:hover {
    background: #2d46b9;
    transform: translateY(-10px);
}

.skills-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 40px;
}

.tech-icons {
    text-align: center;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-icons .fa-brands {
    padding: 0 20px;
    font-size: 50px;
}

#Skills h4 {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#Skills p {
    font-size: 12px;
}